@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Admin Güncelleme</h2>
<br />
@using (Html.BeginForm("UpdateAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.AdminId)
        @Html.HiddenFor(x => x.AdminPasswordHash)
        @Html.HiddenFor(x => x.AdminPasswordSalt)
        @Html.HiddenFor(x => x.AdminUserName)
        @Html.HiddenFor(x => x.AdminStatus)
        <br />
        @Html.Label("Admin Adı")
        @Html.TextBoxFor(x => x.AdminName, new { @class = "form-control" })
        <br />
        @Html.Label("Admin Rolü")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Güncelle</button>
        <a href="/Authorization/Index" class="btn btn-warning">Geri Dön</a>
    </div>
}


