
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Recognize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="~/Themes/Showcase/css/bootstrap.css">
    <link href="~/Themes/Showcase/css/simpleLightbox.css" rel='stylesheet' type='text/css' />
    <link href="~/Themes/Showcase/css/roadmap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Themes/Showcase/css/snow.css">
    <link rel="stylesheet" href="~/Themes/Showcase/css/aos.css">
    <link href='~/Themes/Showcase/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <link rel="stylesheet" href="~/Themes/Showcase/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Themes/Showcase/css/fontawesome-all.css">
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,400,400i,500,500i,700,700i,900" rel="stylesheet">
</head>
<body>
    <header class="index-banner" id="home">
        <nav class="main-header d-flex">
            <div id="brand">
                <div id="logo">
                    <a href="index.html">
                        <i class="fas fa-crosshairs"></i>
                    </a>
                </div>
                <div id="word-mark">
                    <h1>
                        <a href="#home">Adsız.Sözlük</a>
                    </h1>
                </div>
            </div>
            <div id="menu">
                <div id="menu-toggle">
                    <div id="menu-icon">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <ul class="text-center nav-honey">
                    <li>
                        <a href="#home" class="scroll">Ana Sayfa</a>
                    </li>
                    <li>
                        <a class="scroll" href="#about">Programlar</a>
                    </li>
                    <li>
                        <a class="scroll" href="#services">Hakkında</a>
                    </li>
                    <li>
                        <a class="scroll" href="#projects">Görseller</a>
                    </li>
                    <li>
                        <a class="scroll" href="#contact">İletişim</a>
                    </li>
                    <li>
                        <a class="" href="/Default/Headings/1">Sözlük</a>
                    </li>
                    <li class="login">
                        <a class="btn login-btn text-uppercase btn-primary" href="/Login/WriterLogin">Gİrİş Yap</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </nav>
        <div class="banner_section">
            <div class="snow-container">
                <div class="snow foreground"></div>
                <div class="snow foreground layered"></div>
                <div class="snow middleground"></div>
                <div class="snow middleground layered"></div>
                <div class="snow background"></div>
                <div class="snow background layered"></div>
            </div>
            <div class="banner-info text-uppercase">
                <h6 data-aos="fade-right">Bedirhan Erkılıç</h6>
                <h5 data-aos="fade-right">Merhaba, Sözlüğe Hoş Geldiniz</h5>
                <h3 data-text="Adsız Sözlük">Adsız Sözlük</h3>
                <div class="ban-buttons mt-3" data-aos="fade-right">
                    <a class="btn work scroll" href="#projects">Görseller</a>
                    <a class="btn work scroll active" href="#contact">İletişim</a>
                </div>
            </div>
        </div>
    </header>
    @Html.Action("PartialGelistirme", "Home")
    @Html.Action("PartialYaptıklarım", "Home")
    @Html.Action("PartialGörseller", "Home")
    <section class="stats py-lg-5 py-4" id="stats">
        <div class="gallery-inner container py-md-5 py-4">
            <div class="row mt-lg-5 stats-con text-white">
                <div class="col-sm-3 col-6 stats_info counter_grid">
                    <i class="far fa-lightbulb"></i>
                    <p class="counter">@ViewBag.hc</p>
                    <h4>Başlık Sayısı</h4>
                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid1">
                    <i class="far fa-heart"></i>
                    <p class="counter">@ViewBag.ec</p>
                    <h4>Entry Sayısı</h4>
                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid">
                    <i class="fas fa-magic"></i>
                    <p class="counter">@ViewBag.wc</p>
                    <h4>Yazar Sayısı</h4>
                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid2">
                    <i class="far fa-smile"></i>
                    <p class="counter">@ViewBag.cc</p>
                    <h4>Kategori Sayısı</h4>
                </div>
            </div>
        </div>
    </section>
    @Html.Action("PartialProjeyeDair", "Home")

    <section class="contact py-lg-5 py-md-5 py-3" id="contact">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">İletİşİm</h3>
                <div class="contact_grid_right">
                    <form action="/Home/HomePage" method="post">
                        <div class="row contact_left_grid">
                            <div class="col-md-6 con-left" data-aos="fade-up">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="UserName" placeholder="Adınız" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" name="UserMail" placeholder="Mail" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="Subject" placeholder="Konu" required="">
                                </div>
                            </div>
                            <div class="col-md-6 con-right" data-aos="fade-up">
                                <div class="form-group">
                                    <textarea name="Message" id="textarea" placeholder="Mesajınız..." required=""></textarea>
                                </div>
                            </div>
                            <div class="sub-honey mx-auto mt-3">
                                <input class="form-control" type="submit" value="Gönder">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="address row mt-lg-5">
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Adres</h6>
                                <p>
                                    Yozgat, TR
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Email</h6>
                                <p>
                                    Email :
                                    <a href="mailto:erkilicbedirhan@gmail.com"> erkilicbedirhan@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Telefon</h6>
                                <p>539 899 5545</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34671.21787520702!2d34.83140663509796!3d39.81749607170969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e2!4m0!4m0!5e0!3m2!1str!2str!4v1625158944354!5m2!1str!2str" width="1350" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <footer class="footer text-left">
        <div class="container py-4 py-sm-5">
            <div class="row py-sm-4 py-3">
                <div class="col-lg-2 col-md-4">
                    <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="#home" class="nav-link scroll">
                                Ana Sayfa
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#about" class="nav-link scroll">
                                Programlar
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#services" class="nav-link scroll">
                                Hakkında
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#projects" class="nav-link scroll">
                                Görseller
                            </a>
                        </li>
                        <li>
                            <a href="#contact" class="nav-link scroll">
                                İletişim
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-sm-5">
                    <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="/Login/WriterLogin" data- class="nav-link">
                                Giriş Yap
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="/Register/WriterRegister" data- class="nav-link">
                                Kayıt Ol
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="offset-lg-4"></div>
                <div class="col-lg-4 footer-end-grid mt-md-0 mt-sm-5" data-aos="fade-up">
                    <h2>
                        <a href="#home">
                            <i class="fas fa-crosshairs"></i> Adsız.Sözlük
                        </a>
                    </h2>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between pt-lg-3  footer-bottom-cpy">
                <div class="copy-right-w3ls">
                    <p>
                        © 2021 Adsız.Sözlük. Tüm Hakları Saklıdır. | Developing by
                        <a href="https://www.bedirhanerkilic.com/"> Bedirhan Erkılıç </a>
                    </p>
                </div>
                <div class="social-content pb-md-0 pb-4">
                    <ul class="social-icons text-center d-flex">
                        <li class="ml-lg-5">
                            <a href="https://www.facebook.com/profile.php?id=100051665255398">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/erkilicbedirhan/?hl=tr">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/BedirhanErk">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/bedirhan-erkilic/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Login Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                            <p class="text-center pb-4">
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"> Don't have an account?</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Register Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>First name</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required="">
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p class="text-center pb-4">
                                <a href="#">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/Themes/Showcase/js/jquery-2.2.3.min.js"></script>
    <script src='~/Themes/Showcase/js/aos.js'></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });
    </script>
    <script>
        $(() => {
            $(window).scroll(() => {
                var windowTop = $(window).scrollTop();
                windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
                windowTop > 100 ? $('ul.nav-honey').css('top', '50px') : $('ul.nav-honey').css('top', '160px');
            });
            $('#logo').on('click', () => {
                $('html,body').animate({
                    scrollTop: 0
                }, 500);
            });
            $('#menu-toggle').on('click', () => {
                $('#menu-toggle').toggleClass('closeMenu');
                $('ul').toggleClass('showMenu');

                $('li').on('click', () => {
                    $('ul').removeClass('showMenu');
                    $('#menu-toggle').removeClass('closeMenu');
                });
            });
        });

    </script>
    <script src="~/Themes/Showcase/js/jquery.roadmap.js"></script>
    <script>
        $(document).ready(function () {

            var events = [{
                date: 'Oct 2018 - Present',
                content: 'Company Name <small>Co-founder, Front-end Designer</small>'
            },
            {
                date: '2016 - 2018',
                content: 'Company Name <small>Senior Visual Designer</small>'
            },
            {
                date: '2013 - 2016',
                content: 'Company Name <small>Mid-level Designer</small>'
            },
            {
                date: '2012 - 2013',
                content: 'Company Name <small>Mid-level Designer</small>'
            },
            {
                date: '2012 - 2013',
                content: 'Company Name <small>Freelance</small>'
            },
            {
                date: '2011 - 2012',
                content: 'San Diego university  <small>For Design</small>'
            },
            {
                date: '2010 - 2011',
                content: 'New York university  <small>For Graphic Design</small>'
            },

            {
                date: '2009 - 2010',
                content: 'New York university  <small>For Graphic Design</small>'
            },

            {
                date: '2008 - 2009',
                content: 'New York university  <small>For Graphic Design</small>'
            },
            {
                date: '2005 - 2008',
                content: 'Lorem Ipsum  <small>Add Description</small>'
            },
            {
                date: '2003 - 2005',
                content: 'Lorem IPsum  <small>Add Description</small>'
            },
            {
                date: '2001 - 2003',
                content: 'Lorem IPsum  <small>Add Description</small>'
            }
            ];

            $('#my-timeline').roadmap(events, {
                eventsPerSlide: 6,
                slide: 1,
                prevArrow: '<i class="fas fa-chevron-left"></i>',
                nextArrow: '<i class="fas fa-chevron-right"></i>'
            });
        });

    </script>
    <script src="~/Themes/Showcase/js/simpleLightbox.js"></script>
    <script>
        $('.proj_gallery_grid a').simpleLightbox();

    </script>
    <script src="~/Themes/Showcase/js/jquery.waypoints.min.js"></script>
    <script src="~/Themes/Showcase/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();

    </script>
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="~/Themes/Showcase/js/bootstrap.js"></script>
</body>
</html>