@model EntityLayer.Concrete.Message
@{
    ViewBag.Title = "GetDraftMessageDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Mesaj Detayları</h3>
<br />
<html>
<body class="hold-transition sidebar-mini">    
    <section class="content">
        <div class="row">
            @Html.Action("LeftMenuPartial", "Contact")
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Mesaj</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5>@Model.Subject</h5>
                            <br />
                            <h6>
                                Alıcı: @Model.ReceiverMail
                                <span class="mailbox-read-time float-right">@Model.MessageDate.ToString("dd/MMMM/yyy")</span>
                            </h6>
                        </div>
                        <div class="mailbox-read-message">
                            <p>@Html.Raw(Model.MessageContent)</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-right">
                            <a href="/Message/NewMessage" class="btn btn-default"><i class="fas fa-reply"></i> Reply</a>
                            <a href="/Message/MakePassive/@Model.MessageId" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</a>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>