@model EntityLayer.Concrete.Message
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Compose Message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">
    <script src="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Yeni Mesaj Sayfası</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            @Html.Action("WriterLeftMenuPartial", "WriterPanelMessage")
            <div class="col-md-9">
                @using (Html.BeginForm("", "WriterPanelMessage", FormMethod.Post))
                {
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Yeni Mesaj Oluştur</h3>
                        </div>
                        <div class="card-body">
                            @Html.TextBoxFor(x => x.ReceiverMail, new { @class = "form-control", @placeholder = "Alıcı" })
                            @Html.ValidationMessageFor(x => x.ReceiverMail, "", new { @style = "color:red" })
                            <br />
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @placeholder = "Konu" })
                            @Html.ValidationMessageFor(x => x.Subject, "", new { @style = "color:red" })
                            <br />
                            <div class="form-group">
                                <textarea name="MessageContent" id="compose-textarea" class="form-control" style="height: 300px" placeholder="Mesajınız">                                            
                            </textarea>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-default btn-file">
                                    <i class="fas fa-paperclip"></i> Dosya Ekle
                                    <input type="file" name="attachment">
                                </div>
                                <p class="help-block">Max. 32MB</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="submit" class="btn btn-default" name="action:SaveDraft"><i class="fas fa-pencil-alt"></i> Taslaklara Kaydet</button>

                                <button type="submit" class="btn btn-primary" name="action:NewMessage"><i class="far fa-envelope"></i> Gönder</button>
                            </div>
                            <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> İptal Et</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <script src="~/Themes/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            $('#compose-textarea').summernote()
        })
    </script>
</body>
</html>