@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Kategori Güncelleme</h3>
<br />
@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.CategoryId)
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori Açıklaması")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        <br />
        <button class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> Güncelle</button>
        <a href="/AdminCategory/Index" class="btn btn-warning"><i class="fas fa-backward"></i> Geri Dön</a>
    </div>
}

