@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Başlık Güncelleme</h3>
<br />
@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.HeadingId)

        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />

        @Html.HiddenFor(x => x.HeadingDate, new { @class = "form-control" })
        @Html.HiddenFor(x => x.WriterId, new { @class = "form-control" })
        @Html.HiddenFor(x => x.HeadingStatus, new { @class = "form-control" })

        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        <button class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> Güncelle</button>
        <a href="/Heading/Index" class="btn btn-warning"><i class="fas fa-backward"></i> Geri Dön</a>
    </div>
}