@model EntityLayer.Dtos.WriterProfileEditDto

@{
    ViewBag.Title = "EditWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Yazar Güncelleme</h3>
<br />
@using (Html.BeginForm("EditWriter", "Writer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.WriterId)
        @Html.Label("Yazar Adı")
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterName, "", new { @style = "color:red" })
        <br />
        @Html.Label("Yazar Soyadı")
        @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterSurname, "", new { @style = "color:red" })
        <br />
        @Html.Label("Yazar Mail")
        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterMail, "", new { @style = "color:red" })
        <br />
        @Html.Label("Yazar Görsel")
        <input type="file" name="WriterImage" required="" />
        <br /><br />
        @Html.Label("Yazar Durumu")
        @Html.TextBoxFor(x => x.WriterStatus, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterStatus, "", new { @style = "color:red" })
        <br />
        @Html.Label("Yazar Ünvanı")
        @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterTitle, "", new { @style = "color:red" })
        <br />
        @Html.Label("Yazar Şifresi")
        @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @style = "color:red" })
        <br />
        @Html.Label("Yazar Hakkında")
        @Html.TextAreaFor(x => x.WriterAbout, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @style = "color:red" })
        <br />
        <button class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> Güncelle</button>
        <a href="/Writer/Index" class="btn btn-warning"><i class="fas fa-backward"></i> Geri Dön</a>
    </div>
}

